<!-- <!-- <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Site</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['/']" routerLinkActive="active">Home 
          <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"[routerLink]="['/produtos']" routerLinkActive="active">Produtos</a>
      </li>
    </ul>
   
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>  
</div>

<app-diretiva-ngif></app-diretiva-ngif> -->

<!-- <app-diretiva-ngswitch></app-diretiva-ngswitch> --> 
<!-- <app-ngclass></app-ngclass> -->
<!-- <app-ngstyle></app-ngstyle> -->

<!-- <app-exemplo-ng-content>
  Conteúdo passado para o componente.
  <app-operador-elvis></app-operador-elvis>
</app-exemplo-ng-content> -->
<app-diretivas-customizadas></app-diretivas-customizadas>